<h1>投稿編集</h1>

<%= form_for(@blog, url:"/blogs/#{@blog.id}") do |f| %>
    <h4>チーム</h4>
    <%= f.text_field :team %>
    <h4>本文</h4>
    <%= f.text_area :body %>
    <%= f.submit '保存' %>    
<% end %>