<h1>投稿一覧</h1>


<% @blogs.each do |f| %>
	<p>チーム</p>
	<span><%= f.team %></span>
	<p>内容</p>
	<span><%=link_to f.body, blog_path(f.id) %></span>
	<p>画像</p>
	<%= attachment_image_tag f, :image, :fill, 100, 100, format:'jpeg' %>
<% end %>


<%= link_to "新規投稿", blogs_path %>